In [1]:
import psycopg2 as pg
import pandas as pd

In [2]:
#Establish a connection with Postgres
connection = pg.connect("dbname=dvdrental user=hayleyboyce host= localhost port= 5432")

In [3]:
# Show the list of all the tables in the database
cursor = connection.cursor()
cursor.execute("select relname from pg_class where relkind='r' and relname !~ '^(pg_|sql_)';")
table_names = cursor.fetchall()
for i in table_names:
    print(i[0])

actor
store
address
category
city
country
customer
film_actor
film_category
inventory
language
rental
staff
payment
film

In [4]:
actors = pd.read_sql("SELECT * FROM actor", connection)
actors.head()

   actor_id first_name     last_name             last_update
0         1   Penelope       Guiness 2013-05-26 14:47:57.620
1         2       Nick      Wahlberg 2013-05-26 14:47:57.620
2         3         Ed         Chase 2013-05-26 14:47:57.620
3         4   Jennifer         Davis 2013-05-26 14:47:57.620
4         5     Johnny  Lollobrigida 2013-05-26 14:47:57.620